
.app {
  position: relative;
  color: $darkest-blue;
  width: 100vw;
  min-height: 100vh;
  padding: 20px 40px;

  background-image:
    linear-gradient(
      to bottom,
       $dark-blue,
       #def6ff 200px
      ),
    linear-gradient(to top, #324c1b, #e0f5ca 200px);

  background-position:
    center top,
    center bottom;

  background-size:
    100% calc(100% - 200px),
    100% 400px;

  background-repeat:
    no-repeat,
    no-repeat;
}

.title {
  position: relative;
  padding-left: 40px;
  font-size: 96px;
}

.titleNo {
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;

  color: $dark-green;
  letter-spacing: -8px;
  text-shadow: 1px 1px 8px $almost-white-green;

  transform: rotate(-30deg);
}

.titleMuiIcons {
  color: $dark-blue;
  text-shadow: 1px 1px 8px $almost-white-blue;
}

.subtitle {
  padding: 10px 0 0 50px;
}

.subtitlePartOne {

}

.subtitlePartTwo {
  padding-left: .75ch;
  color: $dark-green
}

.installBox {
  margin-top: 40px;
  padding: 1em;
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 0 5px $almost-white-blue;
  color: $almost-white-blue;
}

.navBox {
  padding-top: 20px;
}

.navItem {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 40px;

  cursor: pointer;
  line-height: 40px;
  text-align: center;

  &.navItemCurrent {
    cursor: default;
    font-weight: bold;

    &::before {
      position: absolute;
      display: block;
      left: 10px;
      bottom: 0;
      width: calc(50% - 10px);
      height: 3px;

      border-radius: 3px;
      background: linear-gradient(
        to right,
        $dark-blue,
        $almost-white-blue
      );
      content: " ";
    }
    &::after {
      position: absolute;
      display: block;
      right: 10px;
      bottom: 0;
      width: calc(50% - 10px);
      height: 3px;

      border-radius: 2px;
      background: linear-gradient(
        to right,
        $almost-white-green,
        $dark-green
      );
      content: " ";
    }
  }

  &:not(.navItemCurrent):hover {
    color: $almost-white-blue;
    background: $darkest-blue;
  }
}

.sectionContainer {
  position: relative;
  margin-top: 40px;
  padding: 0 20px;
  min-height: calc(
    100vh
    - 40px /* app padding */
    - 96px /* title */
    - 26px /* subtitle */
    - 60px /* navigation */
    - 41px /* this container margin and border */
  );

  background: white;
  border-top: 1px solid $dark-blue;
  border-left: 1px solid $dark-green;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;

    background: linear-gradient(
      to bottom,
      $dark-blue,
      $almost-white-blue
    );
  }

  &::after {
    content: " ";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;

    background: linear-gradient(
      to right,
      $dark-green,
      $almost-white-green
    );
  }

}

.programmer {
  position: absolute;
  width: 512px;
  height: 512px;
  right: 0;
  bottom: 0;
}

@media (max-height: 800px) or (max-width: 680px) {

  .app {

    background-image:
      linear-gradient(
        to bottom,
        $dark-blue,
        #def6ff 100px
        ),
      linear-gradient(to top, #324c1b, #e0f5ca 100px);

    background-position:
      center top,
      center bottom;

    background-size:
      100% calc(100% - 100px),
      100% 100px;

    background-repeat:
      no-repeat,
      no-repeat;
  }

  .programmer {
    position: absolute;
    width: 256px;
    height: 256px;
    right: 0;
    bottom: 0;
  }
}