.browseIconList {
  width: 100%;
  height: 100%;
  padding: 30px 5px 5px 5px;
  overflow-y: auto;
}

.browseIconListSlate {
  & .iconContainer {
    color: $slate-color;

    &:hover {
      outline: 1px solid $slate-color;
    }
  }
  & svg {
    fill: $slate-color;
  }
}

.browseIconListCrimson {
  & .iconContainer {
    color: $crimson-color;

    &:hover {
      outline: 1px solid $crimson-color;
    }
  }
  & svg {
    fill: $crimson-color;
  }
}

.browseIconListJade {
  & .iconContainer {
    color: $jade-color;

    &:hover {
      outline: 1px solid $jade-color;
    }
  }
  & svg {
    fill: $jade-color;
  }
}

.browseIconListAmber {
  & .iconContainer {
    color: $amber-color;

    &:hover {
      outline: 1px solid $amber-color;
    }
  }
  & svg {
    fill: $amber-color;
  }
}

.browseIconListIndigo {
  & .iconContainer {
    color: $indigo-color;

    &:hover {
      outline: 1px solid $indigo-color;
    }
  }
  & svg {
    fill: $indigo-color;
  }
}

.iconContainer {
  display: inline-block;
  font-family: "Ubuntu Mono", monospace;
  font-size: 9px;
  width: 75px;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 5px;

  cursor: pointer;
  text-align: center;

  & > svg {
    display: block;
    margin: 0 auto;
    width: 36px;
    height: 36px;
    margin-bottom: 5px;
  }
}

.iconLabel {
  height: 1.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 680px) {
  .iconContainer {
    width: 60px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 5px;

    cursor: pointer;
    text-align: center;

    & > svg {
      display: block;
      margin: 0 auto;
      width: 36px;
      height: 36px;
      margin-bottom: 5px;
    }
  }

  .iconLabel {
    height: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}