.controls {
  display: flex;
  gap: 40px;
}

.controlContainer {
  height: 3em;
  line-height: 3em;
}

.controlLabel {
  display: inline-block;
  padding-right: 20px;
}

.control {
  position: relative;
  display: inline-block;
  top: calc(1.5em - 15px);
}

.searchIcon {
  margin-right: 12px;
}
.searchInput {
  width: 300px;
}

.selectStyleTrigger {

}

.selectStyleItem {
  position: relative;
  width: 120px;
  height: 3em;
  padding-left: 42px;
  line-height: 3em;
}

.selectStyleIcon {
  position: absolute;
  display: block;
  top: calc(1.5em - 12px);
  left: 6px;
}

.selectColorTrigger {

}

.selectColorItem {
  position: relative;
  width: 120px;
  height: 3em;
  padding-left: 42px;
  line-height: 3em;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    top: calc(1.5em - 12px);
    left: 6px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
  }
}

.selectColorSlate {
  &::before {
    background-color: $slate-color;
  }
}

.selectColorCrimson {
  &::before {
    background-color: $crimson-color;
  }
}

.selectColorJade {
  &::before {
    background-color: $jade-color;
  }
}

.selectColorAmber {
  &::before {
    background-color: $amber-color;
  }
}

.selectColorIndigo {
  &::before {
    background-color: $indigo-color;
  }
}

@media (max-width: 1030px) {
  .controlLabel {
    display: none;
  }
}


@media (max-width: 840px) {
  .selectStyleItem,
  .selectColorItem {
    width: 40px;
  }

  .selectStyleLabel,
  .selectColorLabel {
    display: none;
  }
}

@media (max-width: 680px) {

  .controls {
    gap: 20px;
  }

  .searchInput {
    width: 200px;
  }

  .control > .selectStyleTrigger,
  .control > .selectColorTrigger {
    width: 60px;
  }

  .selectStyleItem {
  }

  .selectColorItem {
    &::before {
      top: 12px;
      left: 0;
      width: 16px;
      height: 16px;
    }
  }

  .selectStyleIcon {
    top: 12px;
    left: 0;
    width: 16px;
    height: 16px;
  }
  .selectStyleLabel,
  .selectColorLabel {
    display: none;
  }
}

