$darkest-blue: #2e3a46;
$dark-green: #324c1b;
$dark-blue: #265d9c;
$almost-white-blue: #def6ff;
$almost-white-green: #e0f5ca;

$slate-color: #111113;
$crimson-color: #E93D82;
$jade-color: #1FD8A4;
$amber-color: #FFCA16;
$indigo-color: #3E63DD;
